manifest {
  description = 'Proof of concept of a Rna-seq pipeline implemented with Nextflow' 
}

includeConfig 'conf/containers/quay.config'

params {

  result_files_label = ""

  // multi region support - these parameters expected from to be provided from cloudos for system tools
  reference_data_bucket         = "s3://lifebit-featured-datasets"
  lifebit_platform_deployment   = "cloudos.lifebit.ai"
  lifebit_platform_cloud_region = "eu-west-1" // for interpreting bucket path and container region
  lifebit_platform_executor     = "local"
  container_region              = params.lifebit_platform_cloud_region // only required incase of cloud provider container registry ecr/acr/gcr
}

docker.enabled = true

process {
  container = params.main_container
}

includeConfig 'conf/cloud-provider.config'

profiles {
  standard { includeConfig 'conf/aws.config' }
  test  { includeConfig 'conf/test.config' }
  local { includeConfig 'conf/local.config' }
  quay { includeConfig 'conf/containers/quay.config' }
  ecr { includeConfig 'conf/containers/ecr.config' }
}
