manifest {
  description = 'Proof of concept of a Rna-seq pipeline implemented with Nextflow' 
}

parameters {
 result_files_label = ""
}

docker.enabled = true

process {
  container = 'quay.io/lifebitaiorg/rnatoy:1.0.0'
}

profiles {
  standard { includeConfig 'conf/aws.config' }
  test  { includeConfig 'conf/test.config' }
  local { includeConfig 'conf/local.config' }
}
