if (params.lifebit_platform_executor == "local" || params.lifebit_platform_executor == "lsf" || params.lifebit_platform_executor == "slurm" || params.lifebit_platform_executor == "k8s") {
  params {
    reference_data_bucket = "s3://lifebit-featured-datasets"
  }
  includeConfig 'containers/quay.config' // public quay.io container registry
}
if (params.lifebit_platform_executor == "awsbatch" && params.lifebit_platform_deployment =~ "lifebit.ai") {
  params {
    reference_data_bucket = "s3://${params.lifebit_platform_cloud_region}-lb-featured-datasets"
  }
  includeConfig 'containers/quay.config' // TODO - Replace with ECR
}
if (params.lifebit_platform_executor == "awsbatch" && params.lifebit_platform_deployment =~ "cloudos.pro.synapxe.lifebit-biotech.com") {
  params {
    reference_data_bucket = "s3://${params.lifebit_platform_cloud_region}-lb-featured-datasets"
    container_region = params.lifebit_platform_cloud_region
  }
  includeConfig 'containers/ecr.config' // private aws container registry
}
if (params.lifebit_platform_executor == "azurebatch" && params.lifebit_platform_deployment =~ "lifebit.ai") {
  params {
    reference_data_bucket = "s3://lifebit-featured-datasets"
    container_region = params.lifebit_platform_cloud_region
  }
  includeConfig 'containers/quay.config'
}
if (params.lifebit_platform_executor == "google" && params.lifebit_platform_deployment =~ "cloudos.lifebit.ai") {
  params {
    reference_data_bucket = "gc://${params.lifebit_platform_cloud_region}-lb-featured-datasets"
    container_region = params.lifebit_platform_cloud_region
  }
  includeConfig 'containers/quay.config'
}
if (params.lifebit_platform_executor == "awsbatch" && params.lifebit_platform_deployment =~ "aws.gel.ac") {
  params {
    reference_data_bucket = "s3://${params.lifebit_platform_cloud_region}-lb-featured-datasets"
  }
  includeConfig 'containers/quay.config'
}
